*{
    font-family: "Montserrat";
    transition: 0.5s ease-out;
}
#book-info-wrapper {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
}

#book-cover {
    width: 300px;
    height: 440px;
    border-radius: 3px;
}
#aside-right {
    margin-left: 90px;
    position: relative;
    width: 70%;
}
#aside-right #book-title {
    margin: auto;
}
#aside-right #author {
    font-size: 13px;
}
#aside-right #status-container {
    display: flex;
    align-items: center;
}
#aside-right #status-container #status {
    margin:auto;
    margin-left: 5px;
}
#aside-right #intro {
    margin: 13px auto;
}
button {
    padding: 10px;
    border-radius : 10px;
    border: none;
    font-size : 20px;
    color : #ffffff;
    display: block;
    cursor: pointer;
}
button:focus {
    outline: none;
}
#aside-right #button-group {
    position: absolute;
    top: 300px;
    width: 200px;
}
#aside-right #button-group #btn-add-container {
    display: flex;
}
#aside-right #button-group #btn-add-container #button-add {
    background : linear-gradient(to right,#525252,#3D72B4);
    margin-bottom: 13px;
    height: 44px;
    width: fit-content;
}
#aside-right #button-group #btn-add-container #add-book-form {
    position: absolute;
    left: 195px;
    top: 0;
    border: solid black;
    width: fit-content;
    display: none;
}
#aside-right #btn-add-container #button-add:hover {
    background : linear-gradient(to left,#525252,#3D72B4);

}
#aside-right #button-group #button-find-book {
    background: linear-gradient(to right,#A17E7E,#6B4141);
}
#aside-right #button-group #button-find-book:hover {
    background: linear-gradient(to left,#A17E7E,#6B4141);
}


@media (max-width: 719px){
    #book-info-wrapper {
        /* transform:scale(0.9); */
        margin: auto;
        margin-bottom: 100px;
        flex-direction: column;
    }
    #book-info-wrapper #book-cover {
        transform: scale(0.9);
        align-self: center;
    }
    #aside-right #book-title {
        text-align: center;
        font-weight: bolder;
        margin-top: 25px;
    }
    #book-info-wrapper #aside-right{
        display: flex;
        flex-direction: column;
    }
    #book-info-wrapper #aside-right #button-group {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    button{
        width: 100px;
        font-size: 15px;
        padding: 10px;
    }
}