*{
    font-family: "Montserrat";
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 50px 100px;
}
#header #logo {
    width: 212px;
    height: 188px;
    cursor : pointer;
}
#header #nav-bar {
    display: flex;
    justify-content: space-between;
    width: 513px;
    height: 29px;
}
#header #nav-bar .nav-bar-item {
    font-size: 24px;
    background: linear-gradient(to right, #a17e7e, #491B1B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: none;
    cursor : pointer;
    height : fit-content;
}
#header #nav-bar .nav-bar-item:hover {
    background: linear-gradient(to left, #a17e7e, #491B1B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}