*{
    font-family: "Montserrat";
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 50px 100px 50px;
    margin-bottom: 50px;
    background: linear-gradient(to left, #a17e7e, #491B1B);
    
}
#header #logo {
    width: 159px;
    height: 141px;
    cursor : pointer;
    transition: 1s ease-in-out;
}
#header #logo:hover {
    transform: rotateY(180deg);
}

#header #nav-bar .nav-bar-item {
    margin: 0 20px;
    font-size: 24px;
    background : linear-gradient(to right,#525252,#3D72B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: none;
    cursor : pointer;
    height : fit-content;
}
#header #nav-bar .nav-bar-item:hover {
    background : linear-gradient(to right,#525252,#3D72B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* tablet */
@media (max-width: 1023px) and (min-width: 720px){
    #header {
        margin: 10px 20px;
    }
    #header #nav-bar .nav-bar-item {
        margin : 0 10px;
    }
}

/* mobile */
@media (max-width: 719px){
    #header{
        text-align: center;
        display:block;
    }
    #header #nav-bar {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    #header #nav-bar .nav-bar-item {
        font-size: 35px;
    }
}



