*{
    font-family: "Montserrat";
}
#form-container{
    display:flex;
    justify-content : space-around;
}

#form-container #register-form {
    margin: auto 0;
}
#form-container img {
    transition: 0.5s;
}
#form-container img:hover {
    transform: translate(-5px,-10px);
}

#form-container #register-form h2 {
    text-align:center;
    text-transform : uppercase;
}

#form-container #register-form #button-container{
    display:flex;
    margin-top: 5px;
}

#form-container #register-form #button-container #btn-register {
    padding: 10px;
    border-radius : 10px;
    font-size : 25px;
    color : #ffffff;
    background : linear-gradient(to right,#525252,#3D72B4);
    transition: 0.5s;
}
#form-container #register-form #button-container #btn-register:focus {
    outline: none;
}
#form-container #register-form #button-container #btn-register:hover {
    background : linear-gradient(to left,#525252,#3D72B4);
    transform: translate(-3px,-3px);
}
#form-container #register-form #button-container .checkbox-wrapper{
    margin-left :21px;
    display:flex;
    justify-content :space-between;
    align-items: center;
}
#form-container #register-form .checkbox-wrapper #strongText{   
    text-decoration: none;
    background: linear-gradient(to left, #a17e7e, #491B1B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* tablet */
@media (max-width: 1023px) and (min-width: 720px){
    #form-container {
        margin: 0 15px;
        margin-top: 10vh;
    }
    #form-container img {
        width : 40%;
        margin: auto;
    }
    #form-container #register-form #button-container .checkbox-wrapper{
        word-wrap: break-word;
    }

    #form-container #register-form #button-container {
        justify-content: space-around;
    }
    
}



/* mobile */
@media (max-width: 719px){
    #form-container {
        flex-direction: column-reverse;
    }
    #form-container #register-form {
        text-align: center;
    }
    #form-container #register-form #button-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    #form-container #register-form button {
        width: 75%;
        margin-bottom: 30px;
    }

    #form-container img {
        width: 60%;
        margin: auto;
    }

}