#review-form {
    padding-top: 20px;
    width: 50%;
    border-top: 1px solid black;
}
#review-form #input-review {
    width: 89%;
    height: 50px;
    border: none;
    font-family: "Montserrat";
    background-color: #C4C4C4;
    word-wrap: break-word;
    margin-right: 1%;  
    resize: none;  
}
#review-form #input-review:focus{
    outline: none;
}
#review-form #button-send {
    width: fit-content;
    height: 54px;
    background : linear-gradient(to right,#525252,#3D72B4);
    border: none;
    border-radius: 10%;
    color: white;
    font-family: "Montserrat";
    padding : 0px 20px;
}
#review-form #button-send:focus{
    outline: none;
}
#review-form #button-send:hover{
    background : linear-gradient(to left,#525252,#3D72B4);
}
@media (max-width: 719px){
    #review-form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }  

    #review-form{
        margin: auto;
    }

    #review-form #button-send{
        padding: 0px 10px;
    }
   
}

#review-form #input-container {
    display: flex;
}
