#review-screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 13%;
}

#review-screen #reviews{
    display :flex;
    flex-direction : column;
    /* margin : auto; */
    margin-top : 10vh;
    /* border  : 1px solid black; */
}

@media (max-width: 719px){
    #review-screen {
        margin: 0;
        text-align: center;
    }

    #review-screen #reviews, #form {
        margin:auto;
    }
    #review-screen #reviews{
        margin-bottom: 10px;
    }
    #review-screen #form button {
        width: inherit;
    }
    
}