#search-form {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 100;
}
#input-icon button{
    border: none;
    background: none;
    cursor: pointer;
}

#input-icon {
    background : linear-gradient(to left,#525252,#3D72B4);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 5px;
}
#input-icon button:focus,input:focus {
    outline: none;
}
#input-icon #input {
    border: none;
    font-size: 15px;
}
#input-icon input::placeholder{
    padding: 3px;
    font-size: 10px;
}
