*{
    font-family: "Montserrat";
}
#menu {
    /* position: relative; */
    display:flex;
    justify-content :flex-start;
    
}
#menu #actions {
    border-right:1px solid black;
    height:inherit;
    width:fit-content;
    flex :1;
}
#menu #forms {
    position :relative;
    flex:5;
}
#menu li{
    width:fit-content;
    list-style:none;
    font-size :20px;
    font-weight :bold;
    text-transform : uppercase;
    cursor:pointer;
    margin-bottom : 20px;
}
#menu a {
    padding :5px;
    border-radius : 5px;
}
#menu li:hover {
    text-decoration : underline;
}
#menu #forms #shelves {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
}
#menu #forms #shelves #create-shelf-form {
    display: flex;
    flex-direction: column;
    align-self: center;
}
#menu #forms #shelves #create-shelf-form #btn-create-shelf{
    background : linear-gradient(to left,#525252,#3D72B4);
    padding: 10px;
    margin-bottom: 1vh;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
#menu #forms #shelves #create-shelf-form #btn-create-shelf:hover{
    background : linear-gradient(to right,#525252,#3D72B4);

}
#menu #forms #shelves #create-shelf-form #input-new-shelf-name{
    padding: 10px;
}
#menu #forms #shelves #shelves-container{
    width: 100%;
    flex-wrap: wrap;
    margin-top : 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#menu #forms #address-form {
    width:500px;
    position:absolute;
    top : 50px;
    left : 100px;
    display:block;
}
.selected {
    background : linear-gradient(to left,#525252,#3D72B4);
}

#confirm-box{
    position: absolute;
    top :50%;
    left: 40%;
    z-index: 1000;
    display: none;
}
@media (max-width: 1023px) and (min-width: 719px){
    #confirm-box{
        top : -35%;
        left: 33%;
    }
}

@media (max-width: 718px){
    #confirm-box{
        top : -40%;
        left : 24%;
    }
}