input {
    display: none;
}

#rating {
    display: flex;
    float: left;
    flex-direction: row-reverse;
}

/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover,
#rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label {
    color: #FFED85;
}

#star-rating {
    display: flex;
    align-items: baseline;
}

#star-rating #text {
    font-size: 15px;
}

#star-rating label {
    font-size: 15px;
    cursor: pointer;
}