body {
    margin: 0;
}

*{
    font-family: "Montserrat";
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.container #text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container #homepage-img {

}

.container #text-content #heading {
    background: linear-gradient(to right, #525252, #3D72B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.container #text-content #sub-text {
    color: #666363;
    font-size: 36px;
    font-weight: normal;
}

.container #text-content #join-now-btn {
    background: linear-gradient(to right, #525252, #3D72B4);
    font-size: 32px;
    border-radius: 10px;
    border: none;
    width: fit-content;
    padding: 17px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container #text-content #join-now-btn:hover {
    background: linear-gradient(to right, #3D72B4, #525252);

}
footer {
    background: linear-gradient(to right,#A17E7E,#6B4141);
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

footer #info-container {
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
}

footer #info-container #social h3 {
    background: linear-gradient(to right, #525252, #3D72B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: bolder;
}

footer #info-container #social ul {
    padding: 0px;
    display: flex;
    justify-content: space-around;
}
footer #info-container #social li {
    font-size: 2rem;
}

footer #info-container #social li,#support li, #about li {
    list-style:none;
    line-height: 3rem;
}

footer #info-container #support ul, #about ul {
    display: flex;
    flex-direction: column;
}

footer #info-container #support a, #about a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer #info-container #newsletter input{
    font-size:1rem ;
}

footer #info-container #newsletter input::placeholder {
    font-size: 0.6rem;
}

footer #info-container #newsletter button {
    background: linear-gradient(to right, #525252, #3D72B4);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
    cursor: pointer;
}

footer #copyright-text {
    margin: auto;
    font-weight: bolder;
}